SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="003C001E4148571320343133", NAME="piper_ml"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="002100284148570D20343133", NAME="piper_mr"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="0041002A4148570C20343133", NAME="piper_sl"
SUBSYSTEM=="net", ACTION=="add", ATTRS{serial}=="002100235443571020393433", NAME="piper_sr"
